<ng-container *ngIf="show">
  <div class="col-12">
    <div class="calc_data_wrap">
      <div class="row">
        <!-- SUB TITLE -->
        <div class="col-12 d-xl-none">
          <div class="sub_title">Berechnungsdaten</div>
        </div>
        <!--END SUB TITLE -->
        <!-- BTN BLOCK -->
        <div class="col-sm-12 col-md-12 col-xl-4">
          <div class="row">
            <div class="col-6">
              <div class="calc_data_attributs p-20-left">
                <app-branch-selector [branchForm]="tariffForm" [branchMap]="branchMap"></app-branch-selector>
              </div>
            </div>
            <div class="col-6">
              <div class="calc_data_attributs p-20-right">
                <app-type-selector [typeForm]="tariffForm" [typeMap]="typeMap"></app-type-selector>
              </div>
            </div>
          </div>
        </div>

        <!--END BTN BLOCK -->
        <!-- VP-FILTER BLOCK -->
        <div class="col-sm-12 col-md-12 col-xl-8 vp-filter-mobile">
          <div class="vp-filter-wrapp">
            <div class="chekbox_switsh">
              <input type="checkbox" id="toggle" />
              <div class="c_switsh">
                <label for="toggle"></label>
              </div>
              <span class="chekbox_switsh_label">VP-Ansicht</span>
            </div>
            <div class="filter_rechner">
              <span class="filter_title">Filter</span>
              <button class="btn filter_rechner_btn" (click)="toggleFilter($event)">
                <i class="fas fa-cog filter_icon"></i>
              </button>
            </div>
          </div>
        </div>
        <!--END VP-FILTER BLOCK -->
      </div>

      <div class="row energy_calc_form_row">
        <div class="col-sm-12 col-md-6 col-xl-4  block_one">
          <div class="energy_calc_form">
            <app-location-selector
              [formGroup]="TariffsQuery()"
              [citys]="citys"
              [streets]="streets"
              [netzProviders]="netzProviders"
              [search]="search"
              (blurStreet)="blur$.next($event)">
            </app-location-selector>
           
            <!--END Form Group One -->
          </div>
        </div>

        <!-- Form Group Two -->
        <div class="col-sm-12 col-md-6 col-xl-4 block_two">
          <div class="calc_data_attributs option-people">
            <app-consumption-form
              [formGroup]="TariffsQueryTwo()"
              (peopleChange)="tariffForm.get('tariffsQueryTwo.people')!.setValue($event)"
              (consumChange)="onConsumptionChange($event)"
              (consumNtChange)="onConsumptionChange($event)">
            </app-consumption-form>
            <!--END Form Group Two -->
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 block_three">
          <app-base-provider-form
            [formGroup]="TariffsQueryThree()"
            [baseProviders]="baseProviders"
            [baseRates]="baseRates"
            [formReadyToLoad]="!(!isLoadedBaseProvider || !this.tariffForm.get('tariffsQuery')!.valid || !this.tariffForm.get('tariffsQueryTwo')!.valid || !this.tariffForm.get('branch')?.valid || !this.tariffForm.get('type')?.valid)"
            (loadProvider)="loadBaseProvider()"
            (resetProvider)="resetBaseProvider()"
            (providerChanged)="tariffForm.get('tariffsQueryThree.providerName')!.setValue($event)"
            (rateChanged)="setBasePrice($event)">
          </app-base-provider-form>
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 block_four">
          <div class="btn-grpup-calc-tariff">
            <button class="btn calc_tariff mb-0"
                    [disabled]="(!isLoadedBaseProvider || !this.tariffForm.get('tariffsQuery')!.valid || !this.tariffForm.get('tariffsQueryTwo')!.valid || !this.tariffForm.get('branch')?.valid || !this.tariffForm.get('type')?.valid)"
                    (click)="getTarifs()">
              Tarif berechnen
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</ng-container> 
