button.close {
    color: #2c3e50 !important;
    opacity: 0.5;
    position: absolute;
    transition-duration: 0.5s;
    right: 10px;
    top: 6px;
    border: navajowhite;
    background: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

    &:hover {
        color: #2c3e50 !important;
        opacity: 1;
    }
}

.modal-header{
    padding: 15px 15px 8px;
    a {
        color: #337ab7;
        text-decoration:none;
        width: 100%;
        text-align: right;
    }
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 18px;
}

.login_modal_btn {
    width: 100%;
    margin: auto;

    color: #7D1120;
    border-color: #7D1120;

    &:hover{
        background-color: #7D1120;
        color: #fff;
    }
}