<div class="modal-header">
  <h4 class="modal-title">Text bearbeiten</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeEditor()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="editorForm">
    <!-- <div class="main-container">
      <div class="editor-container editor-container_classic-editor" #editorContainerElement>
        <div class="editor-container__editor">
          <div #editorElement>
            <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" formControlName="content"></ckeditor>
          </div>
        </div>
      </div>
    </div> -->
    <div class="main-container">
      <div class="editor-container editor-container_classic-editor" #editorContainerElement>
        <div class="editor-container__editor">
          <div #editorElement>
            <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" formControlName="content" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeEditor()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="save()">Speichern</button>
</div>

