<div class="row no-gutters">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-tabs-custom ps-2 pt-2 mb-1">
      <li [ngbNavItem]="1">
          <button ngbNavLink>Produkte</button>
          <ng-template ngbNavContent>
            <ng-container *ngIf="dataLoadedOrNew; else defaulContent">
              <app-generic-table 
                class="table-responsive"
                [columns]="parnerColumns"
                [filters]="filters"
                [isExpandable]="IsExpandable"
                [dataService]="tariffService"
                [rowSelectionMode]="'parent'"
                [sortMode]="'parent'"
                [filterMode]="'parent'"
                (rowSelected)="selectedRow($event)"
                (sortEvent)="sort($event)"
                (filterEvent)="filter($event)"
                #genericTable 
              >
              <ng-template #customFilters let-onFilterChange="onFilterChange">
                <!-- Ваш пользовательский HTML для фильтров -->
                <!-- <input type="text" [(ngModel)]="searchText" placeholder="Поиск...">
                <button (click)="applySearch()">Поиск</button> -->
                  <div class="col-7 ps-1">
                    <div ngbDropdown class="mb-1 mt-1 d-grid">
                      <button type="button" class="btn btn-generic-filter" id="dropdownForm1" ngbDropdownToggle>
                        <i class="fas fa-sliders-h"></i> Filter
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownForm1">                    
                        <ng-container *ngFor="let filter of filters">
                              <div class="mb-2" *ngIf="filter.type === 'select'">
                                  <label for="{{filter.key}}" class="form-label custom-form-label-sm">{{filter.label}}</label>
                                  <!-- <label class="input-group-text custom-input-group-text" for="{{filter.key}}">{{filter.label}}</label> -->
                                  <select 
                                      class="form-select form-select-sm custom-form-select-sm" 
                                      id="{{filter.key}}"
                                      (change)="onFilterChange(filter, $event)"
                                  >
                                      <option *ngFor="let option of filter.options" [selected]="option.selected" [value]="option.value">{{option.label}}</option>
                                      <!-- <option>test 1</option>
                                      <option>test 2</option> -->
                                  </select>
                              </div> 
                      </ng-container>
                        <!-- <div class="dropdown-divider"></div> -->
                      </div>
                    </div>    
                  </div>
                                    
              </ng-template>
            </app-generic-table>
            </ng-container>
            
            <ng-template #defaulContent>
              <div class="row no-gutters default-content">
                  <div class="col">
                      <div class="d-flex justify-content-center default-products">
                          <i class="fa-solid fa-box"></i>
                      </div>
                      <div class="d-flex justify-content-center default-products-title">
                          Produkte 
                      </div>
                  </div>
              </div>
            </ng-template>                    
          </ng-template>
      </li>
      <li [ngbNavItem]="2">
          <button ngbNavLink>Vorschau</button>
          <ng-template ngbNavContent>                  
          </ng-template>
      </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="pe-0 ps-0"></div>
</div>