
<div class="pt-1 pb-2" *ngIf="tariff">
    <div class="container">
        <div class="row">
            <!-- Главный контейнер тарифа -->
            <div class="col">
                <div class="tariff-view border rounded ">
                    <!-- Верхняя часть: название тарифа и информация -->
                    <app-tariff-header
                        [tariff]="tariff"
                        [tariffTpls]="tariffTpls"
                        [logoNetworkOperatorContent]="logoNetworkOperatorContent"
                        [logoProviderContent]="logoProviderContent"
                        [getSafeHtml]="getSafeHtml.bind(this)"
                    ></app-tariff-header>
                    
                    <!-- Нижняя часть: детали тарифа -->
                    <div class="row mt-3 bottom-block">
                        <div class="col">
                            <div class="tariff-details">
                                <div class="btn-group-colapse">
                                    <button 
                                        [ngClass]="{'active': collapseStates.isCollapseTariffDetails}"
                                        class="btn btn-colapse" 
                                        (click)="toggleCollapse('TariffDetails')"
                                    >Tarifdetails</button>
                                    <button 
                                        [ngClass]="{'active': collapseStates.isCollapseTariffPromo}"
                                        class="btn btn-colapse" 
                                        (click)="toggleCollapse('TariffPromo')"
                                    >Promo</button>
                                    <button 
                                        [ngClass]="{'active': collapseStates.isCollapseTariffCommission}"
                                        class="btn btn-colapse" 
                                        [disabled]="true"
                                        (click)="toggleCollapse('TariffCommission')"
                                    >Provision</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" [ngbCollapse]="!collapseStates.isCollapseTariffDetails">
                        <app-tariff-details-view
                            [tariffDetails]="tariffDetails"
                            [getSafeHtml]="getSafeHtml.bind(this)"
                        ></app-tariff-details-view>
                        
                        
                    </div>
                    <div [ngbCollapse]="!collapseStates.isCollapseTariffPromo">
                        <app-tariff-promo-view
                            [promos]="promos"
                            [getSafeHtml]="getSafeHtml.bind(this)"
                        >    
                        </app-tariff-promo-view>
                    </div>   
                    <div [ngbCollapse]="!collapseStates.isCollapseTariffCommission">
                        Provision
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
