<!-- <section class="search-status-bar">
    <div class="container-fluid bg-custom-dark ">
        <div class="row no-gutters">
            
            <div class="col d-flex partners-status">
                <div class="d-flex align-items-center">
                    
                        <div class="me-2">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="me-auto">
                            <span class="me-1">49000100</span>|
                            <span class="mx-1">Xenia Mustermann</span>
                        </div>
                        <div class="me-2">
                           
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Основной контент -->
<section class="main-content ">
    <div class="container-fluid p-0 ">
        <div class="row no-gutters partners-row">
            <app-admin-list 
                class="col-4 partners-list">
            </app-admin-list>
            <app-admin-details class="col-8 partners-edit">
            </app-admin-details>
        </div>
    </div>
</section>

<ng-template #customTitleTemplate>
    <span>
        <i style="color: rgb(237, 28, 36);" class="fas fa-exclamation-triangle"></i> 
        Speicherung nicht abgeschlossen!
    </span>
</ng-template>
  
<ng-template #customMessageTemplate>
    Warnung: Dieser Vorgang kann nicht mehr rückgängig gemacht werden!
</ng-template>
