
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeGroup" [destroyOnHide]="false" class="nav nav-underline nav-settings-group justify-content-center">
    <li [ngbNavItem]="1">
        <button ngbNavLink>Tariff</button>
        <ng-template ngbNavContent>
            <app-tariff-settings></app-tariff-settings>                
        </ng-template>
    </li>
    <li [ngbNavItem]="2" [disabled]="true">
        <button ngbNavLink >Hardware</button>
        <ng-template ngbNavContent>  
            <app-hardware-settings></app-hardware-settings>          
        </ng-template>
    </li>
    
</ul>
<div [ngbNavOutlet]="nav" class="pe-0 ps-0  product-setting-content"></div>
