@use '../variables' as *;

/*.accordion-tarifdetails-wrap {
  padding: 0px 5px 0px;
}*/

.deal-card-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & .primary {
    border-left: 4px solid #7D1120;
  }
}

.deal-card-flex > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 288px;
}

.deal-card, .features-card {
  background: rgba(143, 155, 179, 0.08);
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  min-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 18px;
}

.features-card {
  border-radius: 0px;
}

.dividing_line {
  margin-top: 0px;
  margin-bottom: 24px;
}

.dividing-line-feature {
  margin-top: 0px;
  margin-bottom: 24px;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 15px;
  background: #54BC2B;
  border-radius: 4px 4px 0px 0px;

  .card-title, .card-dealdate {
    margin-bottom: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .card-dealdate {
    padding-left: 10px;
  }

  .card-sub-title {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: #151A30;
    margin: 0px 15px;
  }
}

.card-sub-line {
  margin-top: 6px;
  border-bottom: 1px solid #E4E9F2;
  transform: rotate(180deg);
}



.card-content-title {
  font-family: Poppins;
  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #151A30;
  margin: 20px 15px 0px;
}

.card-content {
  padding: 22px 15px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.card-features-wrapper-flex {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 12px;
}

// Abstand im 1. direkten card-f-w-flex nur dann kleiner, wenn vorher sub-line vorkommt
.card-sub-line + .card-features-wrapper-flex {
  padding-top: 15px;
}


.card-features-wrapper {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card-feature-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1px;
  /* Basic / 700 */
  color: $clr-b700;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 15px;
}

.card-feature-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.2px;
  /* Basic / 700 */
  color: $clr-b700;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 15px;

  &.positive {
    /* Success / 500 - Default */
    color: #54BC2B;
  }
}
