<nav class="navbar navbar-expand-lg navbar-light second-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"  routerLink="/dashboard">
                  <i class="bi bi-house-door"></i> Dashboard
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/client" >
                  <i class="bi bi-people"></i> Kunde
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/contracts">
                  <i class="bi bi-file-earmark-text"></i> Verträge
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/partner" >
                  <i class="bi bi-file-earmark-text"></i> Partner
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/products">
                  <i class="bi bi-file-earmark-text"></i> Produkte
              </a>
            </li>
            <li ngbDropdown class="nav-item" role="presentation" routerLinkActive="active">
              <button type="button" class="nav-link" ngbDropdownToggle>Verwaltung</button>
              <div ngbDropdownMenu>
                <li>
                  <a class="dropdown-item" routerLink="/admin-management">Admin-Verwaltung</a>
                </li>
                <!-- <button ngbDropdownItem routerLink="/partner" >Action</button> -->
                <button ngbDropdownItem>Another action</button>
                <button ngbDropdownItem>Something else here</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Separated link</button>
              </div>
            </li>
            <!-- Дополнительные пункты меню и выпадающие списки -->
          </ul>
          <!-- Центральные или правые элементы навигации -->
        </div>
      </div>
</nav>
