<!-- Header -->
<app-header></app-header>
<!-- END Header -->
  
<!-- Welcome Area -->
<app-welcome-slider></app-welcome-slider>
<!-- END Welcome Area -->

<!-- ************** Special Feature Area Start ************** -->
<app-special-features></app-special-features>
<!-- ************** Special Feature Area End ************** -->

<!-- ************** About Us Area Start ************** -->
<app-about-us></app-about-us>
<!-- ************** About Us Area End ************** -->
 
<!-- ************** Cool Facts Area Start ************** -->
<app-cool-facts></app-cool-facts>
<!-- ************** Cool Facts Area End ************** -->

<!-- ************** Our Speciality Area Start ************** -->
<app-our-speciality></app-our-speciality>
<!-- ************** Our Speciality Area End ************** -->

<!-- ************** Shop-in-Shop Area Start ************** -->
<app-shop-in-shop></app-shop-in-shop>
<!-- ************** Shop-in-Shop Area END ************** -->

<!-- ***************** Video area start ***************** -->
<div class="video_area section_padding_60" data-stellar-background-ratio="0.6">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Single Speciality Video Area Start -->
        <div class="our_speciality_video">
          <div class="video_play_area">
            <!-- <div class="video_play_button wow bounceIn" id="video">
                <a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=P2uvaR-6ncM&feature=youtu.be" title="Youtube Video" target="_blank"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***************** Video area end ***************** -->

<!-- ***************** Testimonial Area Start ***************** -->
<app-testimonial></app-testimonial>
<!-- ***************** Testimonial Area End ***************** -->

<!-- ************** Call to action Area Start ************** -->
<app-call-to-action></app-call-to-action>
<!-- ************** Call to action Area End ************** -->

<!-- ***************** Message Now Area Start ***************** -->
<app-contact></app-contact>
<!-- ***************** Message Now Area END ***************** -->
  
 
 
  
<!-- ************** Footer Area Start ************** -->
<app-footer></app-footer>
<!-- ************** Footer Area End ************** -->

