<div class="row no-gutters">
    <div class="col left-panel pt-2">
      <div class="matrixs">
        <div class="mb-2" *ngFor="let matrix of matrixs; let i = index">
          <div *ngIf="editMatrixIndex === i; else matrixDisplay">
            <form [formGroup]="editMatrixForm">
              <div class="input-group input-group-sm input-group-sm-custom mb-2">
                <input
                  id="edit-group-name"
                  class="form-control form-control-sm"
                  [ngClass]="{'is-invalid': editMatrixForm.get('name')?.errors && editMatrixForm.get('name')?.touched}"
                  placeholder="Matrix Name"
                  formControlName="name"
                />
                <button class="btn btn-outline-success" type="button" (click)="onSaveEditedMatrix()">
                  <i class="fa-regular fa-floppy-disk"></i>
                </button>
                <button class="btn btn-outline-danger" type="button" (click)="onCancelEditGroup()">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div
                class="invalid-feedback custom-invalid-feedback"
                *ngIf="editMatrixForm.get('name')?.errors?.['required'] && editMatrixForm.get('name')?.touched"
              >
                Matrix Name ist erforderlich.
              </div>
            </form>
          </div>
          <ng-template #matrixDisplay>
            <span class="matrix-name">
              <button class="btn-text-style" (click)="onToggleMatrixs(i)">{{ matrix.name }}</button>
              <button class="btn-text-style green" (click)="onEditMatrix(i)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn-text-style red" (click)="onRemoveMatrix(i)">
                <i class="fa-regular fa-trash-can"></i>
              </button>
              <button class="btn-text-style blue" (click)="onToggleMatrixs(i)">
                <i class="fa-solid" [ngClass]="matrix.hidden ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </span>
          </ng-template>
          <div *ngIf="!matrix.hidden && matrix.form" [formGroup]="matrix.form">
            <div
              cdkDropList
              [id]="onGetMatrixDropListId(i)"
              [cdkDropListData]="matrix.attributes"
              [cdkDropListConnectedTo]="connectedDropLists"
              class="attr-group-list"
              (cdkDropListDropped)="drop($event, matrix)"
            >
              <div
                class="attr-group-box"
                *ngFor="let attributeCtrl of getAttributeFormArray(matrix).controls; let j = index"
                [formGroup]="getAttributControl(attributeCtrl)"
                cdkDrag
                [cdkDragDisabled]="matrix.attributes[j].isFocused"
              >
                <span class="attr-name col-4">
                  {{ matrix.attributes[j].name }}
                </span>
                
                <div class="col-4 form-check form-switch form-switch-sm">
                  <label class="form-check-label" for="single-{{i}}-{{j}}">Einmalig</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="single-{{i}}-{{j}}"
                    formControlName="single"
                  />
                </div>
                <div class="col attr_value"> 
                  <ng-container *ngIf="attributeCtrl.value.single">
                    {{attributeCtrl?.value?.value_total}}<span>{{attributeCtrl?.value?.unit}}</span>
                  </ng-container>
                </div>
                
                <!-- <div *ngIf="attributeCtrl.value.single" class="col-2">{{ matrix.attributes[j].value_varchar }}</div> -->
                <button class="btn-text-style red" (click)="removeAttribute(matrix, j)">
                  <i class="fas fa-times"></i>
                </button>
                <div class="col-12">
                  <div class="attr-group-box sub-box">
                    <div class="col-4 periode-type-wrapp" *ngIf="!attributeCtrl.value.single">
                      <label class="form-label custom-label-sm" for="periodeTyp-{{i}}-{{j}}">Zeitraum auswählen</label>
                      <select id="periodeTyp-{{i}}-{{j}}" formControlName="periodeTyp" class="form-select form-select-sm">
                        <option value="day">Tag</option>
                        <option value="month">Monat</option>
                        <option value="quarter">Quartal</option>
                      </select>
                    </div>
                    <div class="col-4 period-wrapp" *ngIf="!attributeCtrl.value.single">
                      <label class="form-label custom-label-sm required" for="period-{{i}}-{{j}}">Dauer</label>
                      <input
                        type="text"
                        id="period-{{i}}-{{j}}"
                        formControlName="period"
                        class="form-control form-control-sm"
                      />
                    </div>
                    <div class="col attr_value attr-value-expand" *ngIf="!attributeCtrl.value.single">
                      <ng-container *ngIf="!attributeCtrl.value.single">
                        {{attributeCtrl?.value?.value_total}}<span *ngIf="attributeCtrl?.value?.unit">{{attributeCtrl?.value?.unit}}</span>
                      </ng-container>
                    </div>
                    <!-- <div class="col-2"> {{ matrix.attributes[j].value_varchar * matrix.attributes[j].period }} </div> -->
                  </div>
                </div>
              </div>
              <div  *ngIf="matrix.attributes.length > 0" class="attr-group-box total-value">
                <span class="attr-name col-8">
                  Gesamt:
                </span>
                <div class="col attr_value">
                  {{ getTotalValueMatrix(matrixs, i) }}<span *ngIf="getUnitMatrix(matrixs, i)">{{getUnitMatrix(matrixs, i)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <form [formGroup]="newMatrixForm" *ngIf="addNewMatrix">
            <div class="mb-3">
              <label class="form-label custom-label-sm" for="group-name">Matrix Name</label>
              <div class="input-group input-group-sm input-group-sm-custom">
                <input
                  id="group-name"
                  class="form-control form-control-sm"
                  placeholder="Matrix Name"
                  formControlName="name"
                />
                <button class="btn btn-outline-success" type="button" (click)="onSaveNewMatrix()">
                  <i class="fa-regular fa-floppy-disk"></i>
                </button>
                <button class="btn btn-outline-danger" type="button" (click)="onCancelNewMatrix()">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div
                class="invalid-feedback custom-invalid-feedback"
                *ngIf="editMatrixForm.get('name')?.errors?.['required'] && editMatrixForm.get('name')?.touched"
              >
                Gruppenname ist erforderlich.
              </div>
            </div>
          </form>
        <button class="btn-text-style new-attribute-group" (click)="onAddNewMatrix()">
            <i class="fa-solid fa-circle-plus"></i> Neue Matrix
        </button>
    </div>
    <div class="col-6 right-panel pt-2">
      <div class="mb-2" *ngFor="let attributeGroup of getAttributeGroupArray().controls; let i = index">
          <span class="group-name">
            <button class="btn-text-style" (click)="onToggleGroupVisibility(i)">{{ getAttributeGroupName(i) }}</button>

            <!-- <button class="btn-text-style blue" (click)="onToggleMatrixs(i)">
              <i class="fa-solid" [ngClass]="matrix.hidden ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button> -->
          </span>

          <div *ngIf="!hiddenGroups[i]">
            <div
              cdkDropList
              [id]="tariffDropListId"
              [cdkDropListData]="getAttributeGroupAttributes(i).value"
              [cdkDropListConnectedTo]="connectedDropLists"
              class="attr-group-list"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="canDropToTariffList"
            >
              <ng-container *ngFor="let attributeCtrl of getAttributeGroupAttributes(i).controls; let j = index">
                <div
                  
                  class="attr-group-box"
                  cdkDrag
                  [ngClass]="{
                    'copied-attribute': attributeCtrl.value.isCopied,
                  }"
                >
                  <!-- <span class="attr-kennung col">{{attributeCtrl.value.code}}</span> -->
                  <span class="attr-name col-8">{{attributeCtrl.value.name}}</span>
                  <span *ngIf="attributeCtrl.value.value_varchar" class="attr-name col">
                    {{attributeCtrl.value.value_varchar}}
                  </span>
                  <span  class="attr-unit col">{{ attributeCtrl.value.unit }}</span>
                  <!-- <span *ngIf="attributeCtrl.value.is_frontend_visible" class="attr-frontend_visible green">
                    <i class="far fa-eye"></i>
                  </span>
                  <span *ngIf="!attributeCtrl.value.is_frontend_visible" class="attr-frontend_visible red">
                    <i class="fas fa-eye-slash"></i>
                  </span> -->           
                </div>
              </ng-container>
              
            </div>
          </div>
      </div>
      
    </div>
</div>
