<div class="row no-gutters">
    <div class="col left-panel pt-2">
      <div class="matrixs">
        <div class="mb-2" *ngFor="let matrix of matrixs; let i = index">
          <div *ngIf="editMatrixIndex === i; else matrixDisplay">
            <form [formGroup]="editMatrixForm">
              <div class="input-group input-group-sm input-group-sm-custom mb-2">
                <input
                  id="edit-group-name"
                  class="form-control form-control-sm"
                  [ngClass]="{'is-invalid': editMatrixForm.get('name')?.errors && editMatrixForm.get('name')?.touched}"
                  placeholder="Matrix Name"
                  formControlName="name"
                />
                <button class="btn btn-outline-success" type="button" (click)="onSaveEditedMatrix()">
                  <i class="fa-regular fa-floppy-disk"></i>
                </button>
                <button class="btn btn-outline-danger" type="button" (click)="onCancelEditGroup()">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div
                class="invalid-feedback custom-invalid-feedback"
                *ngIf="editMatrixForm.get('name')?.errors?.['required'] && editMatrixForm.get('name')?.touched"
              >
                Matrix Name ist erforderlich.
              </div>
            </form>
          </div>
          <ng-template #matrixDisplay>
            <span class="matrix-name">
              <button class="btn-text-style" (click)="onToggleMatrixs(i)">{{ matrix.name }}</button>
              <button class="btn-text-style green" (click)="onEditMatrix(i)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn-text-style red" (click)="onRemoveMatrix(i)">
                <i class="fa-regular fa-trash-can"></i>
              </button>
              <!-- <button class="btn-text-style blue" (click)="onToggleMatrixs(i)">
                <i class="fa-solid" [ngClass]="matrix.hidden ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button> -->
            </span>
          </ng-template>
          <div *ngIf="!matrix.hidden && matrix.form" [formGroup]="matrix.form">
            <div
              cdkDropList
              [id]="onGetMatrixDropListId(i)"
              [cdkDropListData]="matrix.attributes"
              [cdkDropListConnectedTo]="connectedDropLists"
              class="attr-group-list"
              (cdkDropListDropped)="drop($event, matrix)"
            >
              <div
                class="attr-group-box"
                *ngFor="let attributeCtrl of getAttributeFormArray(matrix).controls; let j = index"
                [formGroup]="getAttributControl(attributeCtrl)"
                cdkDrag
                [cdkDragDisabled]="matrix.attributes[j].isFocused"
              >
                <div class="attr-group">
                  <span class="attr-name col">
                    {{ matrix.attributes[j].name }}
                  </span>
                  <div class="col-3 form-check form-switch form-switch-sm">
                    <label class="form-check-label" for="single-{{i}}-{{j}}">Einmalig</label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="single-{{i}}-{{j}}"
                      formControlName="single"
                    />
                  </div>
                  <div class="col attr_value"> 
                    <ng-container *ngIf="attributeCtrl.value.single">
                      <ng-container *ngIf="attributeCtrl?.value?.value_total">
                        <ng-container *ngIf="isNumeric(attributeCtrl?.value?.value_total); else nonNumericTemplate">
                          {{ attributeCtrl?.value?.value_total | number:'1.2-2' }}
                        </ng-container>
                        <ng-template #nonNumericTemplate>
                          {{ attributeCtrl?.value?.value_total }}
                        </ng-template>
                      </ng-container>
                    </ng-container>
                  </div>
                  <span class="attr-unit col">
                    <ng-container *ngIf="attributeCtrl.value.single">
                      {{attributeCtrl?.value?.unit}}
                    </ng-container>
                  </span>
                  <button class="btn-text-style red" (click)="removeAttribute(matrix, j)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                
                
                
                
                
                <!-- <div *ngIf="attributeCtrl.value.single" class="col-2">{{ matrix.attributes[j].value_varchar }}</div> -->
                
                <div class="col-12" *ngIf="!attributeCtrl.value.single">
                  <div class="attr-group sub-box">
                    <div class="col periode-type-wrapp pe-1" >
                      <label class="form-label custom-label-sm required" for="periodeTyp-{{i}}-{{j}}">Zeitraum auswählen</label>
                      <select 
                        id="periodeTyp-{{i}}-{{j}}" 
                        formControlName="periodeTyp" 
                        class="form-select form-select-sm"
                        [ngClass]="{'is-invalid': (attributeCtrl.get('periodeTyp')?.errors && attributeCtrl.get('periodeTyp')?.touched)}"
                      >
                        <option value="day">Tag</option>
                        <option value="month">Monat</option>
                        <option value="quarter">Quartal</option>
                        <option value="jahr">Jahr</option>
                      </select>

                    </div>
                    <div class="col-3 period-wrapp ps-1" *ngIf="!attributeCtrl.value.single">
                      <label class="form-label custom-label-sm required" for="period-{{i}}-{{j}}">Dauer</label>
                      <input
                        type="text"
                        id="period-{{i}}-{{j}}"
                        formControlName="period"
                        [ngClass]="{'is-invalid': (attributeCtrl.get('period')?.errors && attributeCtrl.get('period')?.touched)}"
                        class="form-control form-control-sm"
                      />
                    </div>
                    <div class="col attr_value attr-value-expand"> 
                      <ng-container *ngIf="!attributeCtrl.value.single">
                        <ng-container *ngIf="isNumeric(attributeCtrl?.value?.value_total); else nonNumericTemplate">
                          {{ attributeCtrl?.value?.value_total | number:'1.2-2' }}
                        </ng-container>
                        <ng-template #nonNumericTemplate>
                          {{ attributeCtrl?.value?.value_total }}
                        </ng-template>
                      </ng-container>
                    </div>
                    <span class="attr-unit attr-unit-expand col">
                      <ng-container *ngIf="!attributeCtrl.value.single">
                        {{attributeCtrl?.value?.unit}}
                      </ng-container>
                    </span>
                    <div class="attr-plazeholder"></div>
                    <!-- <div class="col-2"> {{ matrix.attributes[j].value_varchar * matrix.attributes[j].period }} </div> -->
                  </div>
                </div>
                <div class="col-12">
                  <div *ngIf="(attributeCtrl.get('period')?.errors && attributeCtrl.get('period')?.touched) || (attributeCtrl.get('periodeTyp')?.errors && attributeCtrl.get('periodeTyp')?.touched)" 
                    class="invalid-feedback custom-invalid-feedback"
                    >
                    <div *ngIf="(attributeCtrl.get('period')?.errors?.['required']) || (attributeCtrl.get('periodeTyp')?.errors?.['required'])">Dieses Feld ist erforderlich.</div>
                    <div *ngIf="(attributeCtrl.get('period')?.errors?.['pattern'])">Ungültiges Format.</div>
                  </div>
                </div>
              </div>
              <div  *ngIf="matrix.attributes.length > 0" class="attr-group total-value">
                <span class="attr-name col">
                  Gesamt:
                </span>
                <div class="col attr_value">
                  <ng-container *ngIf="isNumeric(getTotalValueMatrix(matrixs, i)); else nonNumericTemplate">
                    {{ getTotalValueMatrix(matrixs, i) | number:'1.2-2' }}
                  </ng-container>
                  <ng-template #nonNumericTemplate>
                    {{ getTotalValueMatrix(matrixs, i) }} 
                  </ng-template>
                </div>
                <span class="attr-unit col">
                  <ng-container *ngIf="getUnitMatrix(matrixs, i)">
                    {{getUnitMatrix(matrixs, i)}}
                  </ng-container>
                </span>
                <div class="attr-plazeholder"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <form [formGroup]="newMatrixForm" *ngIf="addNewMatrix">
            <div class="mb-3">
              <label class="form-label custom-label-sm" for="group-name">Matrix Name</label>
              <div class="input-group input-group-sm input-group-sm-custom">
                <input
                  id="group-name"
                  class="form-control form-control-sm"
                  placeholder="Matrix Name"
                  formControlName="name"
                  [ngClass]="{'is-invalid': newMatrixForm.get('name')?.errors && newMatrixForm.get('name')?.touched}"
                />
                <button class="btn btn-outline-success" type="button" (click)="onSaveNewMatrix()">
                  <i class="fa-regular fa-floppy-disk"></i>
                </button>
                <button class="btn btn-outline-danger" type="button" (click)="onCancelNewMatrix()">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
              <div
                class="invalid-feedback custom-invalid-feedback"
                *ngIf="newMatrixForm.get('name')?.errors?.['required'] && newMatrixForm.get('name')?.touched"
              >
                Matrix Name ist erforderlich.
              </div>
            </div>
          </form>
        <button class="btn-text-style new-attribute-group" (click)="onAddNewMatrix()">
            <i class="fa-solid fa-circle-plus"></i> Neue Matrix
        </button>
    </div>
    <div class="col-5 right-panel pt-2">
      <div class="mb-2" *ngFor="let attributeGroup of getAttributeGroupArray().controls; let i = index">
          <span class="group-name">
            <button class="btn-text-style" (click)="onToggleGroupVisibility(i)">{{ getAttributeGroupName(i) }}</button>
          </span>

          <div *ngIf="!hiddenGroups[i]">
            <div
              cdkDropList
              [id]="tariffDropListId"
              [cdkDropListData]="getAttributeGroupAttributes(i).value"
              [cdkDropListConnectedTo]="connectedDropLists"
              class="attr-group-list"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="canDropToTariffList"
            >
              <ng-container *ngFor="let attributeCtrl of getAttributeGroupAttributes(i).controls; let j = index">
                <div
                  
                  class="attr-group-box"
                  cdkDrag
                  [ngClass]="{
                    'copied-attribute': copiedAttributes.has(attributeCtrl.value.id),
                  }"
                >
                  <div class="attr-group">
                    <span class="attr-name col-8">{{attributeCtrl.value.name}}</span>
                    <span *ngIf="attributeCtrl.value.value_varchar" class="attr_value col">
                      <ng-container *ngIf="isNumeric(attributeCtrl.value.value_varchar); else nonNumericTemplate">
                        {{ attributeCtrl.value.value_varchar | number:'1.2-2' }}
                      </ng-container>
                      <ng-template #nonNumericTemplate>
                        {{ attributeCtrl.value.value_varchar }}
                      </ng-template>
                    </span>
                    <span  class="attr-unit col">{{ attributeCtrl.value.unit }}</span> 
                  </div>
                           
                </div>
              </ng-container>
              
            </div>
          </div>
      </div>
      
    </div>
</div>
