
<div class="row no-gutters">
    <div class="col-7 left-panel pt-2">
        <div class="row">
            <div class="col">
                <div>logo</div>
                <div>Tarif Name</div>
                <div>Laufzei ???</div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">Opt1</div>
                    <div class="col">Opt2</div>
                    <div class="col">Opt3</div>
                </div>
                <div class="row">
                    <div class="col">Tarif beschreibung ser langer tesx ganz langer text um zu testen davfasdv asdasd jhadsgffsda jhsdfhsadf hsakdfaskj</div>
                </div>
            </div>
            <div class="col">
                <div>Preis Monatlich</div>
                <div>Anschlusspreis</div>
                <div>Gesamtpreis</div>
            </div>
        </div>
    </div>
    <div class="col-5 right-panel pt-2">
        test2
    </div>
</div>