<div class="row no-gutters pt-1 ps-2 pe-2" *ngIf="tariff && tariff !== null; else defaulContent">
    <div class="col">
        <button class="btn btn-link" (click)="toggleCollapseTariffCharacteristics()">
            <i class="fas fa-box"></i> Tarifeigenschaften 
            <i 
                [ngClass]="{'fa-regular fa-eye green': !tariffCharacteristicsCollapsed, 'fa-solid fa-eye-slash red': tariffCharacteristicsCollapsed }"
            ></i>
        </button>
        <div class="tpl-setting-wrapp" [ngbCollapse]="tariffCharacteristicsCollapsed">
            <div class="tariff-details-attr-group">
                <div class="tariff-details-tpl-wrapp">
                    <div class="tariff-details-title">
                        <span>{{ tariff?.name }}</span>
                    </div>
                    <div>
                        <ng-container *ngIf="tariff?.id">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Id
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.id}}
                                </div>
                                
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.external_id">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Id-Extern
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.external_id}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.name">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Name
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.name}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.name_short">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Name Kurz
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.name_short}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.status?.name">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Status
                                </div>
                                <div class="attr_value firstletterBig col-6">
                                    {{tariff?.status?.name}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.is_published !== undefined && ( tariff?.is_published || !tariff?.is_published)">
                            <div class="d-flex"> 
                                <div class="attr-name col-6">
                                    Web Aktiv
                                </div>
                                <div class="attr_value col-6">
                                    <ng-container *ngIf="tariff?.is_published">
                                        Aktiv
                                    </ng-container>
                                    <ng-container *ngIf="!tariff?.is_published">
                                        Inaktiv
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.provider?.name">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Provider
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.provider?.name}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.network_operator?.name">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Netzbetreiber
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.network_operator?.name}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.document?.original_name">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Dokument
                                </div>
                                <div class="attr_value col-6">
                                    {{tariff?.document?.original_name}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="tariff?.note">
                            <div class="d-flex">
                                <div class="attr-name col-6">
                                    Notiz
                                </div>
                                <div class="attr_value col-6">                                    
                                    <button class="p-0 ps-0 btn btn-link devault" (click)="toogleTariffNote()">Text</button>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-12 tpl-setting-wrapp" [ngbCollapse]="tariffNoteCollapsed">
                            <div class="p-3">
                                {{tariff?.note}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>                              
    </div>
</div>

<div class="row no-gutters pt-1 ps-2 pe-2" *ngIf="tariff && tariff !== null && tariff?.attribute_groups && tariff?.attribute_groups?.length">
    <div class="col">
        <button class="btn btn-link" (click)="toggleCollapseTariffAttribute()">
            <i class="fas fa-list"></i> Tarif Attribute 
            <i 
                [ngClass]="{'fa-regular fa-eye green': !tariffAttributeCollapsed, 'fa-solid fa-eye-slash red': tariffAttributeCollapsed }"
            ></i>
        </button>
        <div class="tpl-setting-wrapp" [ngbCollapse]="tariffAttributeCollapsed">
            <div
                class="tariff-details-attr-group"
            >
                <div 
                    class="tariff-details-tpl-wrapp"
                    *ngFor="let attribute_group of tariff.attribute_groups; let i = index"
                >
                    <div class="tariff-details-title">
                        <span>{{ attribute_group?.name }}</span>
                    </div>
                    <div *ngFor="let attribute of attribute_group?.attributs; let j = index">
                        <div 
                            class="d-flex" 
                            [ngClass]="{'attr-not-active': !(attribute?.pivot?.is_active && attribute?.is_frontend_visible)}"
                            
                        >
                            <div class="attr-name col-6">
                                {{attribute?.name}}
                            </div>
                            <div class="attr_value col-4">
                                <ng-container *ngIf="attribute?.input_type == 'Textbereich' && attribute?.pivot?.value_text; else attributeVarchar">
                                    <button class="p-0 ps-0 btn btn-link devault" (click)="toggleCollapse(attribute_group.id, attribute.id, j)">Text</button>
                                </ng-container>
                                <ng-template #attributeVarchar>
                                    <ng-container *ngIf="isNumeric(attribute?.pivot?.value_varchar); else nonNumericTemplate">
                                        {{ attribute?.pivot?.value_varchar | number:'1.2-2' }}
                                    </ng-container>
                                    <ng-template #nonNumericTemplate>
                                        {{ attribute?.pivot?.value_varchar }}
                                    </ng-template>
                                </ng-template>                            
                            </div>
                            <div class="attr-unit col">
                                {{ attribute?.unit }}
                            </div> 

                            
                        </div>   
                        
                        <ng-container *ngIf="attribute?.input_type == 'Textbereich' && attribute?.pivot?.value_text">
                            <div 
                                class="col-12 tpl-setting-wrapp " 
                                [attr.data-attribute-id]="attribute.id" 
                                [ngbCollapse]="isAttributeCollapsed(attribute_group.id, attribute.id, j)"
                            >
                                <!-- <div>Test Test</div> -->
                                <ng-container *ngIf="attribute?.pivot?.value_text">
                                    <div class="pt-3">
                                        <div [innerHTML]="getSafeHtml(attribute?.pivot?.value_text ?? null)"></div>
                                    </div>
                                </ng-container>
                                <!-- <div [innerHTML]="getSafeHtml(attribute?.pivot?.value_text ?? null)"></div> -->
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>    
        </div>                              
    </div>
</div>

<div class="row no-gutters pt-1 ps-2 pe-2" *ngIf="tariff && tariff !== null && tariff?.calc_matrix && tariff?.calc_matrix?.length">
    <div class="col">
        <button class="btn btn-link" (click)="toggleCollapseTariffMatrix()">
            <i class="fa-solid fa-calculator"></i> Kalkulations-Matrix
            <i 
                [ngClass]="{'fa-regular fa-eye green': !tariffMatrixCollapsed, 'fa-solid fa-eye-slash red': tariffMatrixCollapsed }"
            ></i>
        </button>
        <div class="tpl-setting-wrapp" [ngbCollapse]="tariffMatrixCollapsed">
            <div
                class="tariff-details-matrix"
            >
                <div 
                    class="tariff-details-tpl-wrapp"
                    *ngFor="let matrix of tariff.calc_matrix; let i = index"
                >
                    <div class="d-flex">
                        <div *ngIf="matrix?.name" class="attr-name col-6">{{matrix.name}}</div>
                        <div *ngIf="matrix?.total_value" class="attr_value col-4">{{matrix.total_value}}</div>
                        <div *ngIf="matrix?.unit" class="attr-unit col">{{matrix.unit}}</div>
                    </div>
                </div>
            </div>    
        </div>                              
    </div>
</div>

<div class="row no-gutters pt-1 ps-2 pe-2" *ngIf="tariff && tariff !== null && tariff?.promos && tariff?.promos?.length">
    <div class="col">
        <button class="btn btn-link" (click)="toggleCollapseTariffPromo()">
            <i class="fa-solid fa-bullhorn"></i> Promos
            <i 
                [ngClass]="{'fa-regular fa-eye green': !tariffPromoCollapsed, 'fa-solid fa-eye-slash red': tariffPromoCollapsed }"
            ></i>
        </button>
        <div class="tpl-setting-wrapp" [ngbCollapse]="tariffPromoCollapsed">
            <div
                class="tariff-details-promo"
            >
                <div 
                    class="tariff-promo-wrapp"
                    *ngFor="let promo of tariff.promos; let i = index"
                >
                    <div class="tariff-promo" [ngClass]="{'expired': isPromoExpired(promo.end_date)}">
                        <div class="header">
                            <div class="col">
                                <!-- <span class="name">Titel:</span> -->
                                <span *ngIf="promo?.title" class="value">{{promo.title}}</span>
                            </div>
                            <div class="col-3">
                                <span *ngIf="promo?.start_date" class="name">von:</span>
                                <span *ngIf="promo?.start_date"  class="value">{{promo.start_date | date: 'dd.MM.yyyy'}}</span>
                            </div>
                            <div class="col-3">
                                <span *ngIf="promo?.end_date" class="name">bis:</span>
                                <span *ngIf="promo?.end_date" class="value">{{promo.end_date | date: 'dd.MM.yyyy'}}</span>
                            </div>
                        </div>
                        <div class="body">
                            <div class="col-12 promo-details-accordion accordion">
                                <div class="accordion-item">
                                    <button 
                                        class="p-0 ps-0 btn btn-link devault" 
                                        (click)="togglePromoCollapse(promo.id)"
                                    > Promo Text </button>                                   
                                    <div [ngbCollapse]="isPromoCollapsed(promo.id)">
                                        <ng-container *ngIf="promo?.text_long">
                                            <div class="pt-3">
                                                <div [innerHTML]="getSafeHtml(promo?.text_long ?? null)"></div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>                              
    </div>
</div>
<ng-template #defaulContent>
    <div class="row no-gutters default-content">
        <div class="col">
            <div class="d-flex justify-content-center default-products">
                <!-- <i class="fa-solid fa-list-check"></i> -->
                <i class="fa-regular fa-rectangle-list"></i>
            </div>
            <div class="d-flex justify-content-center default-products-title">
                Details 
            </div>
        </div>
    </div>
</ng-template>