<div class="row no-gutters">
    <ul ngbNav #nav="ngbNav" 
        [(activeId)]="active" 
        (navChange)="navChange($event)"
        class="nav-tabs nav-tabs-custom ps-2 pt-2 mb-1"
    >
      <li [ngbNavItem]="1">
          <button ngbNavLink>Tarife</button>
          <ng-template ngbNavContent>
            <app-generic-table 
              class="table-responsive"
              [columns]="parnerColumns"
              [total]="false"
              [isExpandable]="false"
              [dataService]="tariffGroupService"
              [rowSelectionMode]="'parent'"
              [isLoading]="isLoading"
              (rowSelected)="selectedRow($event)"
              #genericTable 
            ></app-generic-table>                   
          </ng-template>
      </li>
      <li [ngbNavItem]="2">
          <button ngbNavLink>Hardware</button>
          <ng-template ngbNavContent>
            Zuordnungen                                  
          </ng-template>
      </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="pe-0 ps-0"></div>
</div>
