<app-breadcrumbs [text]="'Tarifrechner Energie'" class="row d-none d-xl-flex"></app-breadcrumbs>
<app-energy-tariff-form class="row rechner_form_wrapp"></app-energy-tariff-form>
<ng-container *ngIf="isLoadedRates && show">
    <app-energy-tariffs *ngFor="let rate of rates; let i = index" class="row tarif-card-wrapp"
                        [rate]="rate"
                        [IncludingBonus]="priceIncludingBonus"
                        [count]="i"
                        [ratesData]="ratesData">
    </app-energy-tariffs>
</ng-container>
<app-linear-loader 
                class="preloader" 
                *ngIf="!isLoadedRates"
                [dot]="false"
                [width]="12"
                [color]="'#7D1120'">
</app-linear-loader>

<app-energy-offer-creator *ngIf="offers.length > 0" [offers]="offers"></app-energy-offer-creator>
