
<!-- <app-tariff-details class="col-5 d-flex flex-column"></app-tariff-details> -->
<app-tariff-details-a-e class="col-5 d-flex flex-column"></app-tariff-details-a-e>
<div class="col-7">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs nav-tabs-custom ps-2 pt-2 mb-1">
        <!-- <li [ngbNavItem]="1">
            <button ngbNavLink>Tarifdetails</button>
            <ng-template ngbNavContent>
                        
            </ng-template>
        </li> -->
        <li [ngbNavItem]="1">
            <button ngbNavLink>Attribute</button>
            <ng-template ngbNavContent> 
                <app-tariff-attribute></app-tariff-attribute>                 
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Kalkulations-Matrix</button>
            <ng-template ngbNavContent>  
                <app-tariff-calc-matrix></app-tariff-calc-matrix>                
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Promo</button>
            <ng-template ngbNavContent>  
                <app-tariff-promo></app-tariff-promo>                
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <button ngbNavLink>Template</button>
            <ng-template ngbNavContent> 
                <app-tariff-view-template></app-tariff-view-template>                 
            </ng-template>
        </li>
        <li [ngbNavItem]="5">
            <button ngbNavLink>Tarifdetails</button>
            <ng-template ngbNavContent> 
                <app-tariff-details-tpl></app-tariff-details-tpl>            
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="pe-0 ps-0"></div>
</div>

