
    <div class="row no-gutters">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-tabs-custom ps-2 pt-2 mb-1">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Allgemein</button>
                <ng-template ngbNavContent>
                    <app-partner-details-generally 
                        [userProfilesForm]="userProfilesForm"
                        [dataLoadedOrNew]="dataLoadedOrNew"
                        [requiredStatus]="requiredStatus"
                        [statuses]="statuses"
                        [careers]="careers"
                        [categories]="categories"
                    ></app-partner-details-generally>                     
                </ng-template>
            </li>
            <!-- <li [ngbNavItem]="2">
                <button ngbNavLink>Bankdaten</button>
                <ng-template ngbNavContent>
                    <p>
                        Zuganf
                    </p>
                </ng-template>
            </li> -->
            <li [ngbNavItem]="2" [disabled]="!dataLoadedOrNew">
                <button ngbNavLink>Zugang</button>
                <ng-template ngbNavContent>
                    <app-partner-details-access
                        [userProfilesForm]="userProfilesForm"
                        [requiredStatus]="requiredStatus"
                        (newAccess)="addNewAccess($event)"
                    ></app-partner-details-access>
                                        
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="pe-0 ps-0"></div>
    </div>
           

