.invalid-feedback {
    display: block;
    color: red;
    font-size: 0.875em;
  }
  
  .custom-invalid-feedback {
    display: block; /* Ensure the feedback is displayed */
  }

  .left-panel{
    padding-top: 0.1rem;
  }