<div class="tariff-add-edit-title-wrap">
    <div class="tariff-add-edit-title">
        Tarifdeatails
    </div>
</div>
<div class="tariff-add-edit-content flex-grow-1">
    <form [formGroup]="tariffForm">
        <div class="row">
            <div class="col-7 pe-1">
                <div formGroupName="tariff" class="row">
                    
                    <!-- <div class="col pe-1">
                        <label for="id-extern" class="form-label custom-label-sm">Id-Extern</label>
                        <input type="text" class="form-control form-control-sm" id="id-extern" placeholder="z.b P1234">
                    </div> -->
                    
                    <div class="col pe-1">
                        <label for="status" class="form-label custom-label-sm">Status</label>
                        <select formControlName="status_id" class="form-select form-select-sm" id="status">
                            <option *ngFor="let option of tariffStatuses" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form_check pt-4 col ps-1" >
                        <input 
                            id="is-published" 
                            type="checkbox"
                            formControlName="is_published"
                        >
                        <label for="is-published">Web Active</label>
                    </div>
                </div>
                <div formGroupName="tariff" class="row">
                    
                    <div class="col pe-1">
                        <label for="name-short" class="form-label custom-label-sm">Name kurz</label>
                        <input 
                            type="text" 
                            class="form-control form-control-sm" 
                            id="name-short"
                            formControlName="name_short"
                        >
                    </div>
                    <div class="col-7 ps-1">
                        <label for="name" class="form-label custom-label-sm">Name</label>
                        <input 
                            type="text" 
                            class="form-control form-control-sm" 
                            id="name"
                            formControlName="name"
                        >
                    </div>
                </div>
                <div formGroupName="tariff" class="row">
                    <div class="col pe-1">
                        <label for="id-extern" class="form-label custom-label-sm">Id-Extern</label>
                        <input 
                            type="text" 
                            class="form-control form-control-sm" 
                            id="id-extern" 
                            placeholder="z.b P1234"
                            formControlName="external_id"
                        >
                    </div>
                    <div class="col pe-1 ps-1">
                        <label for="provieder" class="form-label custom-label-sm">Provider</label>
                        <select formControlName="provider_id" class="form-select form-select-sm" id="provider">
                            <option *ngFor="let option of tariffProviders" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="col ps-1">
                        <label for="networkoperator" class="form-label custom-label-sm">Netzbetreiber</label>
                        <select formControlName="network_operator_id" class="form-select form-select-sm" id="networkoperator">
                            <option *ngFor="let option of tariffNetworkOperators" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col">
                        <button class="btn document-select">PDF Dokument</button>
                    </div>                       
                </div>
            </div>
            <div class="col ps-1">
                <div class="row">
                    <div class="col pt-2">
                        <app-card>
                            <div card-header>Hardware Kombination</div>
                            <div card-body>
                                <div class="form-check-card-custom-body min">
                                    <div *ngIf="comboStatus" formArrayName="combo_status">
                                        <!-- <div *ngFor="let option of combiHardware; let i = index">
                                            <div class="form-check form-check-card-custom">
                                                <input type="checkbox" class="form-check-input" [id]="'hardware' + option.id" [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateSelectedItems()">
                                                <label class="form-check-label" [for]="'hardware' + option.id">{{ option.name }}</label>
                                            </div>
                                        </div> -->
                                        <div *ngFor="let control of comboStatus.controls; let i = index" [formGroupName]="i">
                                            <div class="form-check form-check-card-custom">
                                                <input type="checkbox" class="form-check-input" formControlName="checked" [id]="'hardware' + control.value.id">
                                                <label class="form-check-label" [for]="'hardware' + control.value.id">{{ control.value.name }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="selected-info">
                                {{ selectedCombiHardware.length }} selected / {{ combiHardware.length }} total 
                                </div>
                            </div>
                        </app-card>
                    </div>
                </div>
                <div formArrayName="categories" class="row">
                    <div class="col">
                        <app-card>
                            <div card-header>Kategorie</div>
                            <div card-body>
                                <div class="form-check-card-custom-body max">
                                    <div *ngFor="let control of categories.controls; let i = index" [formGroupName]="i">
                                        <div class="form-check form-check-card-custom">
                                            <input type="checkbox" class="form-check-input" formControlName="checked" [id]="'category' + control.value.id">
                                            <label class="form-check-label" [for]="'category' + control.value.id">{{ control.value.name }}</label>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="selected-info">
                                    {{ selectedTariffCategories.length }} selected / {{ tariffCategories.length }} total 
                                    </div>
                            </div>
                        </app-card>
                    </div>
                </div>
            </div>
            
        </div>
        <div formGroupName="tariff" class="row">
            <div class="col-12">
                <label for="tariff_note" class="form-label custom-label-sm">Intern</label>
                <textarea formControlName="note" id="tariff_note" rows="10" class="form-control form-control-sm ng-pristine ng-valid ng-touched"></textarea>
            </div>
        </div>
    </form>
</div>
<button (click)="test()">Test</button>