<div class="row no-gutters">
    <div class="col-6 left-panel pt-1">
        <!-- Left Block -->
        <app-card>
            <div card-header>Details</div>
            <div card-body>
                <div class="custom-body">
                    <div
                        class="tariff-details-attr-group"
                        cdkDropList
                        [id]="tariffDropListId"
                        [cdkDropListData]="tariffdetails.value"
                        [cdkDropListConnectedTo]="connectedDropLists" 
                        (cdkDropListDropped)="drop($event)"
                    >
                        <div 
                            cdkDrag
                            class="tariff-details-tpl-wrapp"
                            *ngFor="let item of tariffdetails.controls; let i = index"
                        >
                            <div class="tariff-details-title">
                                <span>{{ item.value?.name }}</span>
                                <button class="btn-text-style red" (click)="removeTariffDetailsItem(i)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div *ngFor="let attributeCtrl of getTariffDetailsAttributs(item).controls; let j = index">
                                <div class="d-flex" *ngIf="attributeCtrl?.value?.is_active">
                                    <div class="attr-name col-7">
                                        {{attributeCtrl.value.name}}
                                    </div>
                                    <div class="attr_value col">
                                        <ng-container *ngIf="isNumeric(attributeCtrl.value.value_varchar); else nonNumericTemplate">
                                            {{ attributeCtrl.value.value_varchar | number:'1.2-2' }}
                                        </ng-container>
                                        <ng-template #nonNumericTemplate>
                                            {{ attributeCtrl.value.value_varchar }}
                                        </ng-template>
                                    </div>
                                    <div class="attr-unit col">
                                        {{ attributeCtrl.value.unit }}
                                    </div>
                                </div>   
                            </div>
                        </div>
                        <!-- <app-card 
                            cdkDrag
                            *ngFor="let item of tariffdetails.controls; let i = index"
                        >
                            <div card-header>{{ item.value?.name }}</div>
                            <div card-body>
                                <div class="custom-body">
                                    <ng-container *ngFor="let attributeCtrl of getTariffDetailsAttributs(item).controls; let j = index">
                                        <div class="d-flex">
                                            <div class="attr-name col-7">
                                                {{attributeCtrl.value.name}}
                                            </div>
                                            <div class="attr_value col">
                                                {{ attributeCtrl.value.value_varchar }}
                                            </div>
                                            <div class="attr-unit col">
                                                {{ attributeCtrl.value.unit }}
                                            </div>
                                        </div>                          
                                    </ng-container>
                                </div>  
                            </div>
                            
                        </app-card> -->
                    </div>
                </div>                           
            </div>
        </app-card>
    </div>
    <div class="col-6 right-panel">
        <div 
            class="tarifd-details" 
            
            cdkDropList
            [id]="tariffGroupDropListId"
            [cdkDropListConnectedTo]="connectedDropLists"
            [cdkDropListData]="attributeGroupsControl.value"
        >
            <div class="mb-2 " *ngFor="let attributeGroup of attributeGroupsControl.controls; let i = index">
                <div class="attr-group-title-tpl">
                    <button class="btn-text-style" (click)="onToggleAttrGroup(i)">{{ getAttributeGroupName(i) }}</button>
                </div>
                <div 
                    class="attr-group-tpl-wrapp" 
                    [ngClass]="{'copied-attribute': copiedAttributsGroup.has(attributeGroup?.value?.uniqueId)}"
                    *ngIf="!AttributsGroupHidden.has(i)"
                    cdkDrag
                >
                    <ng-container *ngFor="let attributeCtrl of getAttributeGroupAttributs(i).controls; let j = index">
                        <div 
                            class="d-flex attr-group-tpl"
                            [ngClass]="{'attr-not-active': !attributeCtrl.value.is_active}"
                        >
                            <div class="attr-name col-7">
                                {{attributeCtrl.value.name}}
                            </div>
                            <div class="attr_value col">
                                <ng-container *ngIf="isNumeric(attributeCtrl.value.value_varchar); else nonNumericTemplate">
                                    {{ attributeCtrl.value.value_varchar | number:'1.2-2' }}
                                </ng-container>
                                <ng-template #nonNumericTemplate>
                                    {{ attributeCtrl.value.value_varchar }}
                                </ng-template>
                            </div>
                            <div class="attr-unit col">
                                {{ attributeCtrl.value.unit }}
                            </div>
                            <div *ngIf="attributeCtrl.value.is_active" class="col attr-visible attr-frontend_visible green">
                                <i class="far fa-eye"></i>
                            </div>
                            <div *ngIf="!attributeCtrl.value.is_active" class="col attr-visible attr-frontend_visible">
                            <i class="fas fa-eye-slash"></i>
                            </div>
                        </div>                          
                    </ng-container>
                </div>
            </div>
            
        </div> 
    </div>
</div>
