button.close {
    color: #2c3e50 !important;
    opacity: 0.5;
    position: absolute;
    transition-duration: 0.5s;
    right: 10px;
    top: 6px;
    border: navajowhite;
    background: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

    &:hover {
        color: #2c3e50 !important;
        opacity: 1;
    }
}