<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Файловый менеджер</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <section class="main-content">
        <div class="container-fluid p-0">
          <div class="row no-gutters documenten-manager-row">
            <div class="col-4 folders">
              <!-- <div></div> -->
              <!-- <ul class="nav custom-small-nav">
                <li class="nav-item">
                  <button class="nav-link" (click)="createFolder()">
                    <i class="fa-solid fa-plus"></i>
                    <span class="nav-link-text">Neu</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" (click)="editFolder()" [disabled]="!selectedNode">
                    <i class="far fa-edit"></i>
                    <span class="nav-link-text">Bearbeiten</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" (click)="deleteFolder(selectedNode?.path)" [disabled]="!selectedNode">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="nav-link-text">Löschen</span>
                  </button>
                </li>
              </ul> -->
              <div class="file-manager">
                <ul class="list-group">
                  <li *ngFor="let node of tree" class="list-group-item">
                    <app-tree-node-modal [node]="node" (selectNode)="selectNode($event)">
                    </app-tree-node-modal>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-8 files">
                <div>
                  <app-generic-table 
                    class="table-responsive"
                    [columns]="fileColumns"
                    [filters]="filters"
                    [filterMode]="'parent'"
                    [dataArr]="selectedFiles"
                    [dataMode]="'parent'"
                    [isExpandable]="false"
                    [rowSelectionMode]="'parent'"
                    [isLoading]="isFileLoading"
                    [isLoaded]="isLoaded"

                    (rowSelected)="onFileSelected($event)"
                    
                    
                    (filterEvent)="searchEvent($event)"
                    #genericTable 
                  ></app-generic-table>
                </div>
                <ng-template #noFiles>
                  <p class="text-muted">Выберите папку для отображения файлов.</p>
                </ng-template>
              </div>
          </div>
        </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
    <button type="button" class="btn btn-success" (click)="save()" [disabled]="!selectedFile">Speichern</button>
  </div>
