<section class="main-content ">
    <div class="container-fluid p-0 "> <!--h-100-->
        <div class="row no-gutters partners-row"> <!--h-100-->
            <app-product-group 
                class="col-2 product-group">
            </app-product-group>
            <app-product-list 
                class="col-6 product-list">
            </app-product-list>
            <app-product-details 
                class="col-4 product-details"> 
            </app-product-details>
        </div>
    </div>
</section>