<footer class="footer_area">
    <div class="footer_bottom_area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer_bottom wow fadeInDown" data-wow-delay=".2s">
              <p>
                enete GmbH - Wir <i class="fa fa-heart" aria-hidden="true"></i> Teamwork |
                <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"> Impressum</a> |
                <a href="#" data-toggle="modal" data-target=".bs-example-modal"> Datenschutz</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
