@charset "UTF-8";
@use './variables' as *;
@use './mixins' as *;

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'Arial', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

// .container {
// 	@include min-max(320px, 100%, 0);
// }

.wrap {
	@include min-max(320px, 1140px, 15px);
}

.ene_content{
	background-color: $content_bg_color;
}